@import '../../variables.scss';
.homepage-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.landing-page-bg {
    background-image: url('https://i.imgur.com/UagwneN.png');
    filter: blur(2px);
    -webkit-filter: blur(2px);
    background-color: $color-4;
    background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: -10px;
    z-index: -10;
    padding: 0;
    width: 100%;
    height: calc(100vh - 60px);
  }
.first-section{
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    
    color: $font-color;
    width: 100%;
    >img{
        border: 6px solid $font-color;
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    >h1{
        margin-top: 0px;
        font-weight: 600;
        font-family: $logo;
        background-color: $color-4; 
        width: 100%;
        padding: 5px;
        text-align: center;
        font-size: 5em;
        border-bottom: 2px solid $color-2;
        margin-bottom: 6vh;
    }
    >h2{
        font-size: 12vw;
        font-weight: 600;
        font-family: $logo
    }
}
.second-section{
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    height: 280px;
    background-color: white;
    
    
    >.h3-container{
        display: inherit;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: $color-2;
        border-bottom: 2px solid $color-3;
        >h3{
            color: $font-color;
            margin: 5px;
            font-size: 6.5vw;
        font-weight: $font-weight-header;
        font-family: $logo
        }
        
    }
    >ul{
        list-style: none;
        padding-left: 0px;
        margin-left: 20px;
        margin-right: 20px;
        >li:not(:first-child){
            padding-top: 16px;
            
        }
        >li{
            font-family: $font-Family-text;
            >.label{
                font-family: $font-Family-header;
                font-weight: $font-weight-header;
                color: $color-2;
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    .first-section{
        >img{
            margin-top: 8vh;
            width: 120px;
            height: 120px;
        }
        >h2{
            font-size: 5vw;
            margin-top: 11vh;
        }
    }
    .second-section{
        width: 100%;
        >.h3-container{
        >h3{
            font-size: 3em;
        }
    }
    }

}
