@import '../../variables.scss';
.project-body img{
    height: 200px;
    width: 300px;
    
}
.links{
    padding-bottom: 20px;
}
.portfolio-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  >.h3-container{
    display: inherit;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid $color-2;
    width: 100%;
    padding-bottom: 1px;
    padding-top: 15px;
    background-color: $color-4;
      >h3{
    font-family: $logo;
    font-weight: $font-weight-header;
    font-size: 4em;
    color: $font-color;
    margin:0;

      }
  }
}
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    width: 100%;
    
}
.project-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    >a{
        width: 100%;
        padding: 0px;
        margin: 0px;
        text-decoration: none;
    }
    
    >a h4{
    font-family: $logo;
    font-weight: $font-weight-header;
    width: 100%;
    border-bottom: 2px solid $color-2;
    background-color: $color-4;
    color: $font-color;
    font-size: 3em;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    }
    
    
    
    >a h4:hover{
        background-color: rgb(187, 115, 128);
    }
    >.project-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        >.description, a{
            margin-left: 20px;
            margin-right: 20px;
            font-family: $font-Family-text;
            text-decoration: none;
        }

        
    }
    .description{
        margin-left: 12px;
        margin-right: 12px;
        border-left: 2px solid $color-2;
        padding: 8px;
    }
    .stack{
        margin-left: 12px;
        margin-right: 12px;
        border-top: 2px solid $color-2;
        padding: 8px;
    }
    

}
.toggleContent-closed{
    display: none;
}
.toggleContent-open{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2px;
    margin-bottom: 2px;

}
.section-flex{
    margin-top:20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 768px) {
    
    .section-flex{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        >img{
            height: 387px;
            width: 688px;
            border: 1px solid $color-main;
        }
    }
    .stack{
        margin-top: 3em;
    }
}
@media screen and (min-width: 1200px) {
    .section-flex{
        margin-top:3em;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        >.description{
            margin-left: 70px;
            margin-right: 70px;
            padding-left: 30px;
            padding-right: 40px;
            margin-bottom: 0px;
            padding-top: 10px;
            font-size: 1.2em;
        }
        >img{
            height: 432px;
            width: 768px;
            margin-right: 70px;
            border: 1px solid $color-main;
        }
    }
    .stack{
        font-size: 1.2em;
    }
}
@media screen and (min-width: 1400px) {
    .section-flex{
        margin-top:1em;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        >.description{
            margin-left: 4.5%;
            margin-right: 4.5%;
            padding-left: 40px;
            padding-right: 40px;
            margin-bottom: 0px;
            padding-top: 10px;
            border-left: 2px solid $color-2;
            font-size: 1.5em;
        }
        >img{
            margin-top: 20px;
            height: 684px;
            width: 1216px;
            margin-right: 4.5%;
            border: 1px solid $color-main;
        }
    }
    .stack{
        font-size: 1.5em;
    }
}