@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');






$font-Family-header: 'Montserrat', sans-serif;
$font-Family-text: 'Work Sans', sans-serif;
$font-weight-header: 900;
$logo: 'Bebas Neue', cursive;
$color-main: #262222;
$color-2: #B3D9AD;
$color-3: #038C25;
$color-4: #62A658;
$color-5: #B3D9AD;
$font-color: #F2F2F2;