@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');






$font-Family-header: 'Montserrat', sans-serif;
$font-Family-text: 'Work Sans', sans-serif;
$font-weight-header: 900;
$logo: 'Bebas Neue', cursive;
$color-main: #262222;
$color-2: #8C0F26;
$color-3: #D93636;
$color-4: #BF1111;
$font-color: #F2F2F2;