@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');






$font-Family-header: 'Montserrat', sans-serif;
$font-Family-text: 'Work Sans', sans-serif;
$font-weight-header: 900;

$color-main: #591812;
$color-2: #F2695C;
$color-3: #A61414;
$color-4: #D93636;
$font-color: #D9D9D9;